:root {
  --light: #f7fff7;
  --dark: #343434;
  --primary: #2f3061;
  --secondary: #ffe66d;
  --tertiary: #6ca6c1;
}

html {
  box-sizing: border-box;
  color: var(--light);
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding-top: 48.5px;
}

/* Utility classes */

.container {
  max-width: 1100px;
  padding: 0.5rem 1rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

/* header styling */
header {
  background: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

h1 > a > img {
  width: 25px;
}

.burger_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.burger_wrapper:hover {
  cursor: pointer;
}

.burger {
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background-color: var(--light);
  position: relative;
}

.burger:before,
.burger:after {
  content: '';
  background-color: var(--light);
  height: 100%;
  width: 100%;
  position: absolute;
}

.burger:before {
  top: 5px;
}

.burger:after {
  top: -5px;
}

nav {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  display: inline;
  margin: 0 10px;
  text-transform: uppercase;
}

nav li a:hover {
  color: var(--secondary);
  transition: color 250ms ease-in-out;
}

/**************** Primary Display ***************/

.current_location {
  z-index: 1;
}

.current_location p {
  font-size: 1.4rem;
}

.display {
  height: 40vh;
  background: no-repeat center/cover url('https://source.unsplash.com/780x520/?weather');
  background-attachment: fixed;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.display:after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.25;
}

.main_search {
  z-index: 1;
  background-color: #f7f7f7;
  width: 33vw;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 50px;
  margin-bottom: 15px;
}

.main_search i {
  color: var(--dark);
  margin-right: 10px;
}

.main_search input {
  background: #f7f7f7;
  border: none;
  width: 80%;
  font-size: 1.1rem;
}

.main_search input:focus {
  outline: none;
}
/* ****** weather view */

.weather_view {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.weather_view button {
  margin: 0 1rem;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--primary);
  font: 300 1.2rem/1.2 sans-serif;
  color: var(--light);
  border: none;
}

.weather_view button:hover {
  cursor: pointer;
  color: var(--secondary);
  transition: color 200ms ease-in-out;
}

.weather_view button.active {
  color: var(--secondary);
}

@media screen and (max-width: 768px) {
  .weather_view {
    display: none;
  }
}
/*********** weather *****************************************/
/* weather card */

.weather_wrapper {
  background: linear-gradient(to right, var(--light) 5%, white 15%, white 80%, var(--light) 95%);
  padding: 1rem;
  max-width: 1100px;
  margin: auto;
}

.weather.current,
.weather.five_day {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border-radius: 5px;
  padding: 0 1rem;
  color: var(--dark);
  gap: 5px;
  position: relative;
}

.weather.five_day .weather_card,
.weather.five_day .weather_details,
.weather.five_day .twelve_hours {
  display: none;
}

.weather.current .day_card {
  display: none;
}

.weather.five_day {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 1rem;
}

.weather::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background: var(--dark);
  top: -20px;
  opacity: 0.1;
}

.weather::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background: var(--dark);
  bottom: 0;
  opacity: 0.1;
}

.weather_card {
  grid-row: span 4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.weather_card > div {
  align-self: center;
  padding: 0 1rem;
}

.weather_desc p {
  text-align: center;
}

.weather_icon > img {
  width: 50px;
  height: auto;
  object-fit: contain;
  margin: auto;
  display: block;
}

.date_time {
  grid-column: span 2;
  text-align: center;
  margin-bottom: 5px;
}

.ddate {
  margin-right: 10px;
}

.weather_card > div.temp {
  text-align: center;
  font-size: 3rem;
  /* padding-top: 1rem; */
  font-weight: 100;
}

.real {
  text-align: center;
  font-size: 0.8rem;
  color: #c4c4c4;
}

.temp,
.real {
  justify-self: start;
  margin-left: 10px;
}

.weather_icon,
.weather_desc {
  justify-self: end;
  margin-right: 10px;
}

.weather_desc {
  margin-bottom: 5px;
}

.temp,
.weather_icon {
  margin-bottom: 10px;
}
.weather_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: span 4;
  font: 1.1rem/1.5 sans-serif;
  justify-content: space-evenly;
}

.wind_direction img {
  width: 25px;
  transform: rotate(90deg);
  transition: transform 500ms ease-in-out;
}
.pointer {
  text-align: center;
}
.direction {
  margin-right: 5px;
}

.direction:after {
  content: ':';
}

/* Hourly */
.twelve_hours {
  grid-row: 5 / span 2;
  grid-column: span 2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  overflow-x: scroll;
  justify-content: center;
}

.hour {
  padding: 1rem 0;
  font-size: 0.8rem;
  margin: 0 15px;
  min-width: 50px;
}

.hour div {
  text-align: center;
}
.hour_icon {
  width: 20px;
  margin: auto;
}

.hour_sum {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.hour_text {
  text-align: center;
  margin-bottom: 5px;
  font-size: 0.6rem;
}

.hour_temp {
  font-size: 0.5rem;
}

.precip {
  width: 7px;
  margin-right: 5px;
}
.precip + span {
  font-size: 0.5rem;
}

/* 5 day styling */
.day_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 175px;
  background-color: white;
  border-radius: 10px;
  padding: 1rem 0;
  /* transform: rotate(-1deg); */
  box-shadow: 10px 10px 5px var(--tertiary);
  border: 1px solid var(--secondary);
  grid-gap: 5px;
}

.day_card .date {
  grid-column: span 2;
  /* grid-row: 1; */
  text-align: center;
}

.day_card .icon {
  grid-row: 2 / span 4;
  grid-column: 1;
  text-align: center;
}

.day_card .icon img {
  width: 50px;
  margin: 10px 0;
}

.day_card .high_low {
  grid-column: 2;
  grid-row: 2 / span 4;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  padding-top: 1rem;
}

.day_card .desc {
  grid-row: 6;
  grid-column: span 2;
  text-align: center;
}
.high_low > div {
  position: relative;
  bottom: 10px;
  font-size: 2rem;
}

.day_card .low {
  font-size: 1.1rem;
  color: rgba(52, 52, 52, 0.8);
  position: relative;
  top: 10px;
}

.day_card .day_precip {
  grid-column: 1 / span 2;
  grid-row: 7 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  /* margin-right: 5px; */
}

.day_card .day_precip > * {
  margin: 2.5px;
}
/************ News ***************/

.news {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  color: var(--light);
  background-color: var(--light);
  grid-gap: 10px;
  padding: 1rem 1rem 2rem 1rem;
}

.news a {
  text-decoration: none;
  color: inherit;
}

.news_card {
  background-color: var(--dark);
  border-radius: 5px;
}

.news_img {
  padding: 1rem;
  border-radius: 5px;
}

.news_img img {
  border-radius: 5px;
}

.news_title {
  padding: 0 1rem;
  margin-bottom: 20px;
  position: relative;
}

.news_title h2 {
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.1;
  color: #fff;
}

.news_title:after {
  content: '';
  height: 1px;
  width: 80%;
  position: absolute;
  bottom: -10px;
  background-color: var(--secondary);
  opacity: 0.8;
}

.news_subtitle {
  padding: 0 1rem;
  font: 1.1rem/1.1 sans-serif;
  color: #d5d5d5;
  padding-bottom: 2rem;
}
.news_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer styling */

a {
  text-decoration: none;
  color: inherit;
}
footer {
  height: 50px;
  background: var(--dark);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer.contact,
footer.about {
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* About page */

.blurb {
  font: 1.2rem/1.5 sans-serif;
  color: var(--dark);
  padding: 1rem;
}

.blurb p {
  margin-bottom: 10px;
}

/* Contact styling */

main.contact {
  height: calc(100vh - 98.5px);
}

.contact_form {
  /* height: calc(100vh - 98.5px); */
  color: var(--dark);
  display: flex;
  flex-direction: column;
  padding: 1em;
  max-width: 1100px;
  margin: auto;
  position: relative;
}

.contact_form .title {
  margin-bottom: 50px;
}

.contact_form h1 {
  margin-bottom: 15px;
}

.contact_form p {
  line-height: 1.2;
}

form > div {
  margin-bottom: 30px;
}

form {
  padding-bottom: 3em;
}

label {
  position: absolute;
  left: 1em;
}

input {
  height: 25px;
}

textarea {
  width: 80%;
  resize: none;
  position: relative;
  top: 20px;
}

input,
textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(52, 52, 52, 0.1);
  padding: 0;
  font: 1em/1 sans-serif;
  width: 50%;
}

input:focus,
textarea:focus {
  outline: none;
}

label {
  transition: all 150ms ease-out;
}

input:focus + label,
input.filled + label,
textarea:focus + label,
textarea.filled + label {
  transform: translateY(-15px);
  font-size: 0.8em;
  color: var(--tertiary);
}

input:focus,
input.filled,
textarea:focus,
textarea.filled {
  border-bottom: 1px solid var(--tertiary);
}

button {
  border: none;
  color: #f7f7f7;
  padding: 0.5em 1em;
  font-size: 1.2em;
  width: 100%;
  background-color: #2f3061;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
}

button:hover {
  color: var(--secondary);
}
